*-Debug/*
*-Release/*
src/*-Debug/*
src/*-Release/*
*debug/
*.user
*.
*.pyc
obl5t/obl5t
*/bak
*2.7pre1
*/obj/
*.autosave
src/lgck-runtime/sfml/lgck-runtime
src/lgck-runtime/sdl/lgck-runtime
src/lgck-runtime/glut/lgck-runtime
*.o
bin/*
*/bin/*
*/obj/*
*/bak/*
*/bak
src/easydoc/bak/*
src/obl5t/testcase/*
src/lgck-runtime/make.bat
src/lgck-runtime/makefile
src/lgck-runtime/build/*
src/shared/ss_build.h
src/build/bin/*
src/build/files/*
src/build/setup/*
src/build/linux/cqtdeployer/bin/*
src/build/linux/cqtdeployer/Distro/*
src/build/linux/cqtdeployer/setup/*
src/build/linux/cqtdeployer/resources/*
src/build/linux/linuxdeployqt/*.AppImage
src/build/linux/linuxdeployqt/lgck/.*
src/build/linux/linuxdeployqt/lgck/AppRun
src/build/linux/linuxdeployqt/lgck/*.desktop
src/build/linux/linuxdeployqt/LGCK Builder IDE
src/build/linux/linuxdeployqt/lgck/usr/AppRun
src/build/linux/linuxdeployqt/lgck/usr/lib/*
src/build/linux/linuxdeployqt/lgck/usr/plugins/*
src/build/linux/linuxdeployqt/lgck/usr/bin/*
src/build/linux/linuxdeployqt/lgck/usr/share/doc/*
src/build/linux/linuxdeployqt/lgck/usr/share/qt.conf
src/build/linux/linuxdeployqt/lgck/usr/translations/*
src/tools/buildcount.dat

